body{
    background-color: rgb(50, 50, 50);
    text-align: center;
    font-size: 3vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.dvere{
    width: 15vw;
    height: 22.5vw;
    background-color: rgb(255, 74, 74);
    position: absolute;
    cursor: pointer;
}

#d1{
    margin: 13vw 0 0 22.5vw;
}

#d2{
    margin: 13vw 0 0 42.5vw;
}

#d3{
    margin: 13vw 0 0 62.5vw;
}

.klika{
    background-color: gray;
    border-radius: 3vw;
    width: 3vw;
    height: 3vw;
    margin: 9vw 0 0 11.5vw;
}

.otevreno{
    background-color: rgb(255, 74, 74);
    width: 2vw;
    height: 22.5vw;
    position: absolute;
}

#sel1 , #sel2 , #sel3{
    position: absolute;
    margin: -7vw 0 0 5.75vw;
}

#v1, #v2, #v3{
    position: absolute;
    margin: -3vw 0 0 -4.5vw;
    font-size: 4vw;
    display: none;
} 

.anone{
    width: 5vw;
    height: 5vw;
    border-radius: 100vw;
    font-size: 2vw;
    display: none;
    border: 0.25vw solid black;
    text-align: center;
    padding: 0;
}

#znova{
    position: absolute;
    background-color: white;
    border: 0.25vw solid black;
    height: 5vw;
    font-size: 2vw;
    margin-left: -3.35vw;
    display: none;
}

#pocher, #pocvyher, #zmen{
    position: absolute;
    font-size: 2vw;
}

#pocher{
    margin: -9vw 0 0 0.5vw;
}

#pocvyher{
    margin: -6vw 0 0 0.5vw;
}

#zmen{
    margin: -3vw 0 0 0.5vw;
}